html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Tinos', serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.header{
  height: 100vh;
  background: url("../image/bgg.png") no-repeat center/cover;

}

.header__top{
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__item img{
  width: 20px;
}
.nav{
  display: flex;
  column-gap: 23px;
}
.nav__item a {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  color: #FFFFFF


}
.menu{
  display: flex;
  align-items: center;
  column-gap: 35px;
}
.header__phone{
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: #FFFFFF;
  width: 155px;
}
.header__contact{
  display: flex;
  align-items: center;
  column-gap: 45px;
}


.header__button{
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 0 19px;
  background: #FF7400;
  height: 47px;
  border: none;

}
.header__title h2 {
  font-weight: normal;
  font-size: 50px;
  line-height: 57px;
  color: #D67E35
}
.header__title h1 {
  font-weight: normal;
  font-size: 80px;
  line-height: 92px;
  color: #D67E35;
}
.header__title p {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.header__title{
  margin-top: 170px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title h2 {
  margin-left: 24px;
  font-weight: normal;
  font-size: 50px;
  line-height: 57px;
  color: #D67E35;

}
.header__title p {

  margin-top: 12px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

 .header__2 .header__button {
   margin-top: 25px;
 }
 .header__main_btn{
   display: flex;
   justify-content: center;
 }

 .boxis{
   max-width: 1200px;
   position: relative;




 }
 .boxes1{
   position: absolute;
   width: 349px;
   height: 300px;
   left: 145px;
   top: -90px;
   background: #FFFFFF;
   box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);


 }
 .boxes2{
   position: absolute;
   width: 349px;
   height: 300px;
   top: -90px;
   left: 585px;
   background: #FFFFFF;
   box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
 }
 .boxes3{
   position: absolute;
   width: 349px;
   height: 300px;
   left: 1020px;
   top: -90px;
   background: #FFFFFF;
   box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
 }

.boxes1__image{
 margin: 35px 109px 20px 114px;
}
.boxes1{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}
.atmos{
  color: #D67E35;
}
.boxes1 h2 {
  font-size: 26px;
  line-height: 30px;
}
.boxes1__paragraph{
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
}

.boxes2 h2 {
  font-size: 26px;
  line-height: 30px;
}
.boxes2 {

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.boxes3 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.boxes3__paragraph {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  padding: 0 20px ;
}
.boxes3 h2{
  font-size: 26px;
  line-height: 30px;
}


.history{
  display: flex;
  margin-top: 387px;
  margin-right: 830px;
  margin-left: 140px;

}
.history__span{
  color: #D67E35;

}
.histore__left h1 {
  font-size: 54px;
  line-height: 62px;
  /* identical to box height */
  color: #000000;
  padding-left: 70px;
}
.histore__left p {
  width: 444px;
  height: 217px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #656363;
}
.histore__right{
margin-left: 125px;
  position: relative;

}
.photo_one {
  background: url("../image/Mask Group (1).png");
  width: 255px;
  height: 430px;
  position: absolute;
  top: -40px;
  left: 310px;


}
.photo_two {
  background: url("../image/Mask Group (2).png") no-repeat;
  width: 255px;
  height: 399px;
  position: absolute;
  top: 160px;
  left: 400px;
}

.photo_three {
  background: url("../image/233] 1.png");
  width: 233px;
  height: 300px;
  position: absolute;
  left: 120px;
}

.numer1 {
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #BC9060;
  padding-left: 60px;
}

.numer{
  display: flex;

}

.numer1 h2 {
  font-size: 20px;
  line-height: 27px;
text-align: center;
  color: #000000;
}


.container {
  background: url("../image/bg.png") center ;
  margin-top: 211px;
  height: 357px;
  display: flex;
}


.container__left h1 {
  font-size: 52px;
  line-height: 60px;
  color: #D67E34;
  margin-bottom: 20px;



}
.container__left h2 {
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
   color: #FFFFFF;}
.content {
  padding: 80px;
  width: 40%;
}

.container button{
  margin: 155px 186px 155px 349px;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 0 19px;
  background: #FF7400;
  height: 47px;
  border: none;
}

.top {
  margin: 132px 558px 139px ;
}

.top h1 {
  font-size: 54px;
  line-height: 62px;
  /* identical to box height */
  color: #000000;
}

.top span {
  color: #D67E35;
}

.main__left {
  background: url("../image/Mask Group (3).png") no-repeat;

  margin-left: 70px;
  width: 530px;
  height: 474px;

}

.main__photo{
  background: url("../image/Mask Group (4).png");
  width: 210px;
  height: 140px;
  margin-bottom: 29px;
}

.main {
  display: flex;

}
.mini p {
  font-size: 26px;
  line-height: 30px;
  /* identical to box height */
  color: #000000;

}

.line{

  border: 1px solid #000000;
  width: 204px;
  margin-left: 7px;
  margin-right: 11px;

}
.mini{
  display: flex;
  align-items: center;
  width: 500px;
  margin-bottom: 98px;
  padding-top: 50px;
}
.main__midl {
  margin-right: 30px;
}

.title {
  background: url("../image/Mask Group (5).png") ;
margin-top: 152px;
  height: 1034px;

}
.title h1 {
  font-size: 54px;
  line-height: 62px;
  /* identical to box height */
  color: #FFFFFF;
  padding-top: 92px;
  padding-left: 590px;
}
.wilder {
  background: #FFFFFF;
  width: 350px;
  height: 510px;
}
.title__block{
 display: flex;
  column-gap: 30px;
  padding-left: 180px;
  padding-top: 138px;
}
.own {
  background: url("../image/Mask Group (6).png") no-repeat;
  width: 300px;
  height: 231px;
  margin-top: 80px;
  margin-left: 62px;
}

.wilder__own h2 {

  height: 30px;font-size: 26px;
  line-height: 30px;
  /* identical to box height */
  color: #000000;
  margin-left:  80px;
margin-top: 22px;


}
.wilder__own p {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  width: 226px;
  height: 37px;
  color: #000000;
  padding-left: 62px;
  padding-top: 17px;

}
.wilder__own button {

  background: #D67E34;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  width: 220px;
  height: 50px;
  margin-top: 20px;
  margin-left: 65px;
  border: none;
  color: #FFFFFF;
}
.sun{
  background: #E6E5E5;
  height: 550px;
}
.sun__p {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  width: 920px;
  height: 52px;
  color: #000000;
  padding-top: 104px;
padding-left: 260px;
}
.sun__photo {
  background: url("../image/Mask Group (7).png") no-repeat;
  width: 149px;
  height: 100px;
  margin-top: 75px;
  margin-left: 656px;
}
.sun h3{
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  width: 119px;
  height: 27px;
  color: #000000;
margin-top: 17px;
  margin-left: 661px;
}
.sun__text{
  font-size: 20px;
  line-height: 27px;
  width: 86px;
  height: 27px;
  color: #000000;
  margin-top: 9px;
  margin-left: 675px;
}
.footer{
  position: relative;
}

.left{
  position: absolute;
  width: 30px;
  height: 100px;
  background: #FF0000;
  top: 115px;
}
.right {
  position: absolute;
  width: 30px;
  height: 100px;
  left: 1489px;
  top: 120px;

  background: #FF0000;
}
.footer h1 {
  font-size: 54px;
  line-height: 62px;
  /* identical to box height */
  width: 340px;
  height: 62px;
  color: #000000;
  margin-top: 101px;
  margin-left: 576px;
}
.footer span {
  color: #D67E35;
}
.footer1 {
  width: 555px;
  height: 368px;
  margin-top: 59px;
  margin-left: 167px;
  background: url("../image/Mask Group (8).png") no-repeat;
}
.footer__photos1 {
  background: url("../image/Mask Group (9).png") no-repeat;
  width: 411px;
  height: 274px;
  margin-top: 10px;
  margin-left: 165px;

}
.footer__photos2 {
  background: url("../image/goulash-6054124_1920 1.png") no-repeat;
  width: 411px;
  height: 274px;
  margin-left: -125px;
  margin-top: 10px;
}
.footer2{
  display: flex;
  margin-top: -70px;
}
.footer__photos3 {
  background: url("../image/Mask Group (9).png") no-repeat;
  width: 411px;
  height: 274px;
  position: absolute;
  left: 730px;
  top: 0px;

}

.footer__menu{
  position: relative;
}
.footer__photos4 {
  background: url("../image/goulash-6054124_1920 1.png") no-repeat;
  position: absolute;
  width: 411px;
  height: 274px;
  left: 1005px;
  top: 0px;
}
.footer__photos5 {
  background: url("../image/Mask Group (8).png") no-repeat;
  position: absolute;
  width: 555px;
  height: 368px;
  left: 730px;
  top: 310px;
}
.footer__insane{
  font-size: 54px;
  line-height: 62px;
  /* identical to box height */

  color: #000000;
  padding-top: 50px;
  margin-right: 500px;
}
.footer__mash1 {
  background: url("../image/Mask Group (10).png") no-repeat;
  width: 350px;
  height: 526px;
}
.footer__mash2 {
  background: url("../image/Mask Group (11).png") no-repeat;
  width: 350px;
  height: 623px;
}
.footer__mash3 {
  background: url("../image/image 4.png") no-repeat;
  width: 348px;
  height: 462px;
}
.footer__box {
  display: flex;
  column-gap: 32px;
  margin-top: 107px;
  margin-left: 165px;
}
.footer__end {
  background: url("../image/Mask Group (12).png") ;
  width: 100%;
  height: 737px;

}